<div class="course">
    <img src="{{course.img}}" alt="{{course.title}}">
    <p class="price big">{{course.price}}</p>
    <ul>
          <li class="title">{{title}}</li>
          <li class="description">{{description}}</li>

        </ul>
</div>
